<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/output.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <%- include('adminpartials/navbar') %>
        <section class="my-8">
            <div>
                <form action="/addcoupon" method="get">
                    <button
                        class="ml-5 w-1/5 border border-transparent rounded font-semibold tracking-wide px-5 py-4 focus:outline-none focus:shadow-outline bg-indigo-500 text-gray-100 hover:bg-indigo-600 hover:text-gray-200">Add
                        Coupon Code
                    </button>
                </form>
            </div>
            <div class="grid grid-cols-4 gap-4 m-3">
                <% coupnData.forEach(element=> {%>
                    <div class="flex flex-wrap justify-around my-4">
                        <div class="m-2">
                            <div class="component flex max-w-sm">
                                <div class="bg-gray-100 shadow-sm rounded-lg">
                                    <div class="bg-cover p-8 rounded-t-lg"
                                        style="background-image: url(&quot;https://images.unsplash.com/photo-1556139954-ec19cce61d61?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80&quot;);">
                                        <div class="font-semibold text-gray-100 text-lg tracking-wide">V A S T R A</div>
                                        <div class="font-black text-gray-100 text-2xl tracking-wide mb-10">Get 50% off
                                            on
                                            all
                                            premium components</div>
                                    </div>
                                    <div class="px-8 py-6 relative">
                                        <div class="mt-10 text-sm"><span class="text-gray-500 font-semibold">Till</span>
                                            <%= element.expiryDate %>
                                                <!-- <span class="text-gray-500 font-semibold">To</span> Feb 14 -->
                                        </div>
                                        <div class="mt-6">
                                            <div class="uppercase font-bold text-gray-600">Coupon Code</div>
                                            <div
                                                class="uppercase mt-2 text-indigo-500 font-black text-2xl leading-none">
                                                <%= element.code %>
                                            </div>
                                        </div>
                                        <div class="mt-6 text-gray-500 text-sm">Coupon only valid on select UI
                                            Components
                                            &amp;
                                            once per user</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>
</body>

</html>