<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- <p>Go to Home</p> -->
    <a href="/"><div class="m-auto h-52 w-52" id="animation-container"></div></a>




    <script>
        var animation = bodymovin.loadAnimation({
            container: document.getElementById('animation-container'), // required
            path: '404-page.json', // required
            renderer: 'svg', // required
           
        });
    </script>
</body>

</html>