<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <!-- Swiper Slides -->
        <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                alt="Slide 1" class="w-full h-96 object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1529374255404-311a2a4f1fd9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80"
                alt="Slide 1" class="w-full h-96 object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1485230895905-ec40ba36b9bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                alt="Slide 1" class="w-full h-96 object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1492633397843-92adffad3d1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1973&q=80"
                alt="Slide 1" class="w-full h-96 object-cover">
        </div>
        <!-- End of Swiper Slides -->
    </div>
    <!-- Swiper Navigation Buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Swiper Pagination -->
    <div class="swiper-pagination"></div>
</div>
