<div class="swiper mySwiper ">
    <div class="swiper-wrapper">
        <!-- Swiper Slides -->
        <div class="swiper-slide">
            <img src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-09112023-MainBannerDailyChanging-Z1-P7-leewrangler-min50.jpg"
                alt="Slide 1" class="w-full h-auto object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-09112023-MainBannerDailyChanging-Z1-P2-StellarsMayra-min60.jpg"
                alt="Slide 1" class="w-full h-auto object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-09112023-MainBannerDailyChanging-Z1-P6-MnsStevemadden-upot60.jpg"
                alt="Slide 1" class="w-full h-auto object-cover">
        </div>
        <div class="swiper-slide">
            <img src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-09112023-MainBannerDailyChanging-Z1-P5-XYXXDamench-under499.jpg"
                alt="Slide 1" class="w-full h-auto object-cover">
        </div>
        <!-- End of Swiper Slides -->
    </div>
    <!-- Swiper Navigation Buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Swiper Pagination -->
    <div class="swiper-pagination"></div>
</div>
