<% categorycollection.forEach((element) => { %>
  

<div class="px-4 bg-white mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
    <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">
      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
          
        <h2 class="font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight text-black sm:text-4xl sm:leading-none max-w-lg mb-6">
           <%= element.Name %>
          </h2>
          <p class="text-black text-base md:text-lg">"Discover Your Perfect Style with Our Exquisite Collection of  Shirts!"
        </div>
        <div className='space-x-4'>
        <button class="text-neutral-800  text-lg font-medium inline-flex items-center">
        <span> <a href="/product_shirts">get insights →</a></span>
        </button>
        </div>
      </div>
      <img alt="logo" width="420" height="120" src="<%= element.image %>" />
    </div>
  </div>
<% }); %>



