<nav class="bg-gray-900">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-evenly h-16">
            <a class="text-white text-2xl font-semibold" href="/adminhome">Dashboard</a>
            <a class="text-white text-lg font-semibold" href="/categorymanagement">Category Management</a>
            <a class="text-white text-lg font-semibold" href="/productmanagement">Product Management</a>
            <a class="text-white text-lg font-semibold" href="/usermanagement">User Management</a>
            <a class="text-white text-lg font-semibold" href="/coupon">Coupon Management</a>
            <a class="text-white text-lg font-semibold" href="/ordermanagement">Order Management</a>
            <div class="hidden lg:flex lg:items-center lg:w-auto">
                <ul class="lg:flex lg:space-x-4">
                    <li><a class="text-white hover:text-gray-400" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>